.main {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 300px;
    height: 100px;
}

#title {
    margin-top: 40px;
}

input {
    width: 300px;
    height: 20px;
}

li {
    list-style-type: none;
}

.btn-add-todo {
    width: 300px;
    height: 30px;
}

.input-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}